<a href="https://colab.research.google.com/github/IsidroJ/Colab_Archivos_Clase_PADP/blob/main/Practica_6_Manejo_de_libreria_Pandas_IJGH.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Practica 6. Manejo de libreria Pandas**

 Carga el archivo titanic.csv en la carpeta correspondiente de Google drive para realizar los siguientes ejercicios:

In [15]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np


dataframe = pd.read_csv('/content/drive/MyDrive/1_ClassFiles/4_Clase 15-08-2025/Titanic-Dataset.csv')
print(dataframe)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

# **Ejercicio 1: Análisis de la distribución de supervivencia por combinación de sexo y clase del pasajero.**

1. Calcula la proporción de supervivencia para cada combinación de 'Sex' y 'Pclass'.
2. Identifica qué combinación tuvo la tasa de supervivencia más alta.
3. Identifica qué combinación tuvo la tasa de supervivencia más baja.

**1. Calcula la proporción de supervivencia para cada combinación de 'Sex' y 'Pclass'.**

In [16]:
# Cantidad de personas que sobrevivieron y murieron por sexo y clase
TablaSyNo = pd.crosstab([dataframe["Sex"], dataframe["Pclass"]], dataframe["Survived"])

print(TablaSyNo)

Survived         0   1
Sex    Pclass
female 1         3  91
       2         6  70
       3        72  72
male   1        77  45
       2        91  17
       3       300  47

In [17]:
# Proporción de personas que subrevivieron por sexo y clase

TasaSupervi = dataframe.groupby(["Sex", "Pclass"])["Survived"].mean().round(4)

print(f"La proporción de personas que subrevivieron por sexo y clase es:\n {TasaSupervi}")

La proporción de personas que subrevivieron por sexo y clase es:
 Sex     Pclass
female  1         0.9681
        2         0.9211
        3         0.5000
male    1         0.3689
        2         0.1574
        3         0.1354
Name: Survived, dtype: float64

**2. Identificar qué combinación tuvo la tasa de supervivencia más alta.**

In [18]:
Sexo, Clase = TasaSupervi.idxmax()
Valor_maximo = TasaSupervi.max()

print(f"La combinación con mayor tasa de supervivencia es: ({Sexo}, Clase {int(Clase)}) con {(100*Valor_maximo):.2f}%")

La combinación con mayor tasa de supervivencia es: (female, Clase 1) con 96.81%

**3. Identifica qué combinación tuvo la tasa de supervivencia más baja.**

In [19]:
Sexo, Clase = TasaSupervi.idxmin()
Valor_minimo = TasaSupervi.min()

print(f"La combinación con menor tasa de supervivencia es: ({Sexo}, Clase {int(Clase)}) con {(100*Valor_minimo):.2f}%")

La combinación con menor tasa de supervivencia es: (male, Clase 3) con 13.54%

# **Ejercicio 2: Identificación de familias grandes a bordo.**

1. Crea una nueva columna 'FamilySize' sumando las columnas 'SibSp' y 'Parch'.
2. Considera como "familia grande" a aquellas donde 'FamilySize' es mayor a 3.
3. Calcula el número de pasajeros en familias grandes.
4. Calcula la proporción de supervivencia entre los pasajeros que pertenecen a familias grandes.

**1. Crea una nueva columna 'FamilySize' sumando las columnas 'SibSp' y 'Parch'.**

In [20]:
# Crear nueva columna 'Promedio'
dataframe['FamilySize'] = dataframe[['SibSp', 'Parch']].sum(axis=1)
print(dataframe)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked  FamilySize
0        0         A/5 21171   7.2500   NaN        S           1
1        0          PC 17599  71.2833   C85        C           1
2        0  STON/O2. 3101282   7.9250   NaN        S           0
3        0            113803  53.1000  C123        S           1
4        0            373450   8.0500   NaN        S           0
..     ...               ...      ...   ...      ...         ...
886      0            211536  13.0000   NaN        S           0
887      0            112053  30.0000   B42        S           0
888      2        W./C. 6607  23.4500   NaN        S           3
889      0            111369  30.0000  C148        C           0
890      0            370376   7.7500   NaN        Q           0

[891 rows x 13 columns]

**2. Considera como "familia grande" a aquellas donde 'FamilySize' es mayor a 3.**

In [21]:
Familia_grande = dataframe[dataframe['FamilySize'] > 3]
print(Familia_grande)

     PassengerId  Survived  Pclass  \
7              8         0       3
13            14         0       3
16            17         0       3
24            25         0       3
25            26         1       3
..           ...       ...     ...
824          825         0       3
846          847         0       3
850          851         0       3
863          864         0       3
885          886         0       3

                                                  Name     Sex   Age  SibSp  \
7                       Palsson, Master. Gosta Leonard    male   2.0      3
13                         Andersson, Mr. Anders Johan    male  39.0      1
16                                Rice, Master. Eugene    male   2.0      4
24                       Palsson, Miss. Torborg Danira  female   8.0      3
25   Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...  female  38.0      1
..                                                 ...     ...   ...    ...
824                       Panula, Master. Urho Abraham    male   2.0      4
846                           Sage, Mr. Douglas Bullen    male   NaN      8
850            Andersson, Master. Sigvard Harald Elias    male   4.0      4
863                  Sage, Miss. Dorothy Edith "Dolly"  female   NaN      8
885               Rice, Mrs. William (Margaret Norton)  female  39.0      0

     Parch    Ticket     Fare Cabin Embarked  FamilySize
7        1    349909  21.0750   NaN        S           4
13       5    347082  31.2750   NaN        S           6
16       1    382652  29.1250   NaN        Q           5
24       1    349909  21.0750   NaN        S           4
25       5    347077  31.3875   NaN        S           6
..     ...       ...      ...   ...      ...         ...
824      1   3101295  39.6875   NaN        S           5
846      2  CA. 2343  69.5500   NaN        S          10
850      2    347082  31.2750   NaN        S           6
863      2  CA. 2343  69.5500   NaN        S          10
885      5    382652  29.1250   NaN        Q           5

[62 rows x 13 columns]

**3. Calcula el número de pasajeros en familias grandes.**

In [22]:
NumPasFG = len(Familia_grande)
print("El  número de pasajeros en familias grandes es:", NumPasFG)

El  número de pasajeros en familias grandes es: 62

**4. Calcula la proporción de supervivencia entre los pasajeros que pertenecen a familias grandes.**

In [23]:
ProporcionSPFG = Familia_grande["Survived"].mean().round(4)

print(f"La Proporción de supervivencia de los pasajeros en familias grandes es del: {(100*ProporcionSPFG):.2f}%")

La Proporción de supervivencia de los pasajeros en familias grandes es del: 16.13%

# **Ejercicio 3: Segmentación por grupos de edad.**

Clasifica a los pasajeros en las siguientes categorías de edad(tip puede resultar mas sencillo realizarlo con una función)

* Menor de Edad
* Mayor de Edad

**1. Clasificación de pasajeros por edad**

In [25]:
def edad_pasajero(edad):
    if pd.isna(edad):     #verifica que valor es nulo
        return np.nan    #mantiene que valor nulo
    return "Menor de Edad" if edad < 18 else "Mayor de Edad"

dataframe["Grupos_edad"] = dataframe["Age"].apply(edad_pasajero)

print("La Distribución de pasajeros por grupos de edad es:")

contar = dataframe["Grupos_edad"].value_counts(dropna=False)

orden = ["Mayor de Edad", "Menor de Edad", np.nan]
contar = contar.reindex(orden)

print(contar)

La Distribución de pasajeros por grupos de edad es:
Grupos_edad
Mayor de Edad    601
Menor de Edad    113
NaN              177
Name: count, dtype: int64

# **Ejercicio 4: Comparación entre promedios calculados manualmente y con Pandas**

1. Utiliza NumPy para calcular el promedio de las columnas 'Age' y 'Fare', ignorando valores nulos.
2. Compara estos valores con los promedios obtenidos utilizando los métodos nativos de Pandas.
3. Verifica que los resultados sean consistentes.

**1. Utiliza NumPy para calcular el promedio de las columnas 'Age' y 'Fare', ignorando valores nulos**

In [30]:
Promedio_edad = np.nanmean(dataframe["Age"])   # np.nanmean ignora los NaN y calcula la media solo con los valores válidos.
print(f"El promedio de la edad sin datos nulos es: {Promedio_edad:.2f}")

Promedio_tarifa = np.nanmean(dataframe["Fare"])
print(f"El promedio de la edad sin datos nulos es: {Promedio_tarifa:.2f}")

El promedio de la edad sin datos nulos es: 29.70
El promedio de la edad sin datos nulos es: 32.20

**2. Compara estos valores con los promedios obtenidos utilizando los métodos nativos de Pandas.**

In [35]:
Promedio_edad_pandas = dataframe['Age'].mean()
print(f"El promedio de la edad sin datos nulos es: {Promedio_edad_pandas:.2f}")

Promedio_tarifa_pandas = dataframe['Fare'].mean()
print(f"El promedio de la edad sin datos nulos es: {Promedio_tarifa_pandas:.2f}")

El promedio de la edad sin datos nulos es: 29.70
El promedio de la edad sin datos nulos es: 32.20

**3. Verifica que los resultados sean consistentes.**

Los resultados son los mismos usando NumPy y Pandas.
* En NumPy, np.nanmean ignora valores nulos (NaN) y calcula la media con los valores válidos.
* En Pandas, cuando se usa .mean() sobre una serie (columna de un DataFrame), este ignora automáticamente los valores nulos (NaN).

# **Ejercicio 5. Creación de intervalos de clase usando NumPy y análisis con Pandas**

1. Divide la columna 'Fare' en 5 intervalos equidistantes utilizando la función numpy.linspace, el estudiante deberá investigar la operación de esta función en python.
2. Crea una nueva columna en el DataFrame que asigne a cada pasajero el intervalo correspondiente de su tarifa.
3. Calcula el número de pasajeros en cada intervalo utilizando Pandas y la proporción de supervivientes por intervalo.

**1. Divide la columna 'Fare' en 5 intervalos equidistantes utilizando la función numpy.linspace, el estudiante deberá investigar la operación de esta función en python.**

In [67]:
Tarifa = dataframe["Fare"].dropna()
print(Tarifa)

print('\n')

Tarifa_minima = dataframe["Fare"].min()
print("La Tarifa mínima es:", Tarifa_minima)

Tarifa_maxima = dataframe["Fare"].max()
print("La Tarifa máxima es:", Tarifa_maxima)

print('\n')

Intervalos = np.linspace(Tarifa_minima, Tarifa_maxima, 6)
print("Los intervalos son:", Intervalos)

0       7.2500
1      71.2833
2       7.9250
3      53.1000
4       8.0500
        ...
886    13.0000
887    30.0000
888    23.4500
889    30.0000
890     7.7500
Name: Fare, Length: 891, dtype: float64


La Tarifa mínima es: 0.0
La Tarifa máxima es: 512.3292


Los intervalos son: [  0.      102.46584 204.93168 307.39752 409.86336 512.3292 ]

**2. Crea una nueva columna en el DataFrame que asigne a cada pasajero el intervalo correspondiente de su tarifa.**

In [65]:
# Se crea una columna llamada "Intervalo_Clase"
dataframe["Intervalo_Clase"] = pd.cut(dataframe["Fare"], Intervalos)
print("Intervalo correspondiente a la tarifa del pasajero: \n", dataframe["Intervalo_Clase"])

Intervalo correspondiente a la tarifa del pasajero:
 0      (0.0, 102.466]
1      (0.0, 102.466]
2      (0.0, 102.466]
3      (0.0, 102.466]
4      (0.0, 102.466]
            ...
886    (0.0, 102.466]
887    (0.0, 102.466]
888    (0.0, 102.466]
889    (0.0, 102.466]
890    (0.0, 102.466]
Name: Intervalo_Clase, Length: 891, dtype: category
Categories (5, interval[float64, right]): [(0.0, 102.466] < (102.466, 204.932] <
                                           (204.932, 307.398] < (307.398, 409.863] <
                                           (409.863, 512.329]]

**3.Calcula el número de pasajeros en cada intervalo utilizando Pandas y la proporción de supervivientes por intervalo.**

In [103]:
NumeroPpI = dataframe["Intervalo_Clase"].value_counts().sort_index()
print("Número de pasajeros por intervalo de clase: \n", NumeroPpI)

print('\n')

ProporcionSpI = dataframe.groupby("Intervalo_Clase")["Survived"].mean()
print(f"Número de pasajeros por intervalo de clase: \n", ProporcionSpI.round(2))

Número de pasajeros por intervalo de clase:
 Intervalo_Clase
(0.0, 102.466]        823
(102.466, 204.932]     33
(204.932, 307.398]     17
(307.398, 409.863]      0
(409.863, 512.329]      3
Name: count, dtype: int64


Número de pasajeros por intervalo de clase:
 Intervalo_Clase
(0.0, 102.466]        0.37
(102.466, 204.932]    0.76
(204.932, 307.398]    0.65
(307.398, 409.863]     NaN
(409.863, 512.329]    1.00
Name: Survived, dtype: float64

/tmp/ipython-input-2336437740.py:6: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  ProporcionSpI = dataframe.groupby("Intervalo_Clase")["Survived"].mean()