<a href="https://colab.research.google.com/github/IsidroJ/Colab_Archivos_Clase_PADP/blob/main/Pr%C3%A1ctica_13_Carga_de_Datos_IJGH.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Práctica 13: Carga de Datos**

Al final del archivo contiene una línea que dice "Esta es una línea que no deberías cargar". Esta línea es irrelevante por lo tanto al cargar el CSV a un dataframe se debería de ignorar.

1. Carga el archivo a un dataframe usando el código necesario para omitir la última fila.
2. Usa df.tail(3) para demostrar que no has cargado la última línea
3. Imprime la cantidad de filas y columnas del dataframe

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import seaborn as sns

In [39]:
df = pd.read_csv('/content/drive/MyDrive/1_ClassFiles/8_Clase 29-08-2025/miaad-nyc-r-s.csv')
print('------------------------------------------------------------------------------')
print('\033[1m Datos originales \033[0m')
print('------------------------------------------------------------------------------')
print(df)

print('\n')

print('------------------------------------------------------------------------------')
num_filas = df.shape[0]
num_columnas = df.shape[1]
print('\033[1m Número de filas del Dataframe: \033[0m', num_filas)
print('\033[1m Número de columnas del Dataframe: \033[0m', num_columnas)
print('------------------------------------------------------------------------------')

print('\n')

print('--------------------------------------------------------------------------------------------------------------------------------------------------------------------------')
print('\033[1m Como se puede observar el Dataframe en la fila 84548 de la columna que no tiene nombre aparece la expresión "Esta es una línea que no deberías cargar" \033[0m')
print('--------------------------------------------------------------------------------------------------------------------------------------------------------------------------')

print('\n')

------------------------------------------------------------------------------
 Datos originales
------------------------------------------------------------------------------
                                     Unnamed: 0  BOROUGH   NEIGHBORHOOD  \
0                                             4      1.0  ALPHABET CITY
1                                             5      1.0  ALPHABET CITY
2                                             6      1.0  ALPHABET CITY
3                                             7      1.0  ALPHABET CITY
4                                             8      1.0  ALPHABET CITY
...                                         ...      ...            ...
84544                                      8410      5.0        WOODROW
84545                                      8411      5.0        WOODROW
84546                                      8412      5.0        WOODROW
84547                                      8413      5.0        WOODROW
84548  Esta es una línea que no deberías cargar      NaN            NaN

                           BUILDING CLASS CATEGORY TAX CLASS AT PRESENT  \
0      07 RENTALS - WALKUP APARTMENTS                                2A
1      07 RENTALS - WALKUP APARTMENTS                                 2
2      07 RENTALS - WALKUP APARTMENTS                                 2
3      07 RENTALS - WALKUP APARTMENTS                                2B
4      07 RENTALS - WALKUP APARTMENTS                                2A
...                                            ...                  ...
84544  02 TWO FAMILY DWELLINGS                                        1
84545  02 TWO FAMILY DWELLINGS                                        1
84546  22 STORE BUILDINGS                                             4
84547  35 INDOOR PUBLIC AND CULTURAL FACILITIES                       4
84548                                          NaN                  NaN

        BLOCK    LOT EASE-MENT BUILDING CLASS AT PRESENT  \
0       392.0    6.0                                  C2
1       399.0   26.0                                  C7
2       399.0   39.0                                  C7
3       402.0   21.0                                  C4
4       404.0   55.0                                  C2
...       ...    ...       ...                       ...
84544  7349.0   78.0                                  B9
84545  7351.0   60.0                                  B2
84546  7100.0   28.0                                  K6
84547  7105.0  679.0                                  P9
84548     NaN    NaN       NaN                       NaN

                      ADDRESS  ... RESIDENTIAL UNITS  COMMERCIAL UNITS  \
0                153 AVENUE B  ...               5.0               0.0
1       234 EAST 4TH   STREET  ...              28.0               3.0
2       197 EAST 3RD   STREET  ...              16.0               1.0
3         154 EAST 7TH STREET  ...              10.0               0.0
4      301 EAST 10TH   STREET  ...               6.0               0.0
...                       ...  ...               ...               ...
84544        32 PHEASANT LANE  ...               2.0               0.0
84545        49 PITNEY AVENUE  ...               2.0               0.0
84546   2730 ARTHUR KILL ROAD  ...               0.0               7.0
84547       155 CLAY PIT ROAD  ...               0.0               1.0
84548                     NaN  ...               NaN               NaN

       TOTAL UNITS  LAND SQUARE FEET  GROSS SQUARE FEET YEAR BUILT  \
0              5.0              1633               6440     1900.0
1             31.0              4616              18690     1900.0
2             17.0              2212               7803     1900.0
3             10.0              2272               6794     1913.0
4              6.0              2369               4615     1900.0
...            ...               ...                ...        ...
84544          2.0              2498               2377     1998.0
84545          2.0              4000               1496     1925.0
84546          7.0            208033              64117     2001.0
84547          1.0             10796               2400     2006.0
84548          NaN               NaN                NaN        NaN

      TAX CLASS AT TIME OF SALE  BUILDING CLASS AT TIME OF SALE  SALE PRICE  \
0                           2.0                              C2     6625000
1                           2.0                              C7         -
2                           2.0                              C7         -
3                           2.0                              C4     3936272
4                           2.0                              C2     8000000
...                         ...                             ...         ...
84544                       1.0                              B9      550000
84545                       1.0                              B2      460000
84546                       4.0                              K6    11693337
84547                       4.0                              P9       69300
84548                       NaN                             NaN         NaN

                 SALE DATE
0      2017-07-19 00:00:00
1      2016-12-14 00:00:00
2      2016-12-09 00:00:00
3      2016-09-23 00:00:00
4      2016-11-17 00:00:00
...                    ...
84544  2017-04-21 00:00:00
84545  2017-07-05 00:00:00
84546  2016-12-21 00:00:00
84547  2016-10-27 00:00:00
84548                  NaN

[84549 rows x 22 columns]


------------------------------------------------------------------------------
 Número de filas del Dataframe:  84549
 Número de columnas del Dataframe:  22
------------------------------------------------------------------------------


--------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 Como se puede observar el Dataframe en la fila 84548 de la columna que no tiene nombre aparece la expresión "Esta es una línea que no deberías cargar"
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------

/tmp/ipython-input-1717411065.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/drive/MyDrive/1_ClassFiles/8_Clase 29-08-2025/miaad-nyc-r-s.csv')

In [36]:
df = pd.read_csv('/content/drive/MyDrive/1_ClassFiles/8_Clase 29-08-2025/miaad-nyc-r-s.csv', skipfooter=1)  #elimina la última línea del archivo. Si se coloca skipfooter=2, se omitirían las últimas dos filas, y así sucesivamente.
print('------------------------------------------------------------------------------')
print('\033[1m Dataframe con limpieza de datos \033[0m')
print('------------------------------------------------------------------------------')
print(df)

/tmp/ipython-input-2330516863.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  df = pd.read_csv('/content/drive/MyDrive/1_ClassFiles/8_Clase 29-08-2025/miaad-nyc-r-s.csv', skipfooter=1)  #elimina la última línea del archivo. Si se coloca skipfooter=2, se omitirían las últimas dos filas, y así sucesivamente.

------------------------------------------------------------------------------
 Dataframe con limpieza de datos
------------------------------------------------------------------------------
       Unnamed: 0  BOROUGH   NEIGHBORHOOD  \
0               4        1  ALPHABET CITY
1               5        1  ALPHABET CITY
2               6        1  ALPHABET CITY
3               7        1  ALPHABET CITY
4               8        1  ALPHABET CITY
...           ...      ...            ...
84543        8409        5        WOODROW
84544        8410        5        WOODROW
84545        8411        5        WOODROW
84546        8412        5        WOODROW
84547        8413        5        WOODROW

                           BUILDING CLASS CATEGORY TAX CLASS AT PRESENT  \
0      07 RENTALS - WALKUP APARTMENTS                                2A
1      07 RENTALS - WALKUP APARTMENTS                                 2
2      07 RENTALS - WALKUP APARTMENTS                                 2
3      07 RENTALS - WALKUP APARTMENTS                                2B
4      07 RENTALS - WALKUP APARTMENTS                                2A
...                                            ...                  ...
84543  02 TWO FAMILY DWELLINGS                                        1
84544  02 TWO FAMILY DWELLINGS                                        1
84545  02 TWO FAMILY DWELLINGS                                        1
84546  22 STORE BUILDINGS                                             4
84547  35 INDOOR PUBLIC AND CULTURAL FACILITIES                       4

       BLOCK  LOT EASE-MENT BUILDING CLASS AT PRESENT                 ADDRESS  \
0        392    6                                  C2            153 AVENUE B
1        399   26                                  C7   234 EAST 4TH   STREET
2        399   39                                  C7   197 EAST 3RD   STREET
3        402   21                                  C4     154 EAST 7TH STREET
4        404   55                                  C2  301 EAST 10TH   STREET
...      ...  ...       ...                       ...                     ...
84543   7349   34                                  B9           37 QUAIL LANE
84544   7349   78                                  B9        32 PHEASANT LANE
84545   7351   60                                  B2        49 PITNEY AVENUE
84546   7100   28                                  K6   2730 ARTHUR KILL ROAD
84547   7105  679                                  P9       155 CLAY PIT ROAD

       ... RESIDENTIAL UNITS  COMMERCIAL UNITS  TOTAL UNITS  LAND SQUARE FEET  \
0      ...                 5                 0            5              1633
1      ...                28                 3           31              4616
2      ...                16                 1           17              2212
3      ...                10                 0           10              2272
4      ...                 6                 0            6              2369
...    ...               ...               ...          ...               ...
84543  ...                 2                 0            2              2400
84544  ...                 2                 0            2              2498
84545  ...                 2                 0            2              4000
84546  ...                 0                 7            7            208033
84547  ...                 0                 1            1             10796

       GROSS SQUARE FEET YEAR BUILT TAX CLASS AT TIME OF SALE  \
0                   6440       1900                         2
1                  18690       1900                         2
2                   7803       1900                         2
3                   6794       1913                         2
4                   4615       1900                         2
...                  ...        ...                       ...
84543               2575       1998                         1
84544               2377       1998                         1
84545               1496       1925                         1
84546              64117       2001                         4
84547               2400       2006                         4

       BUILDING CLASS AT TIME OF SALE  SALE PRICE            SALE DATE
0                                  C2     6625000  2017-07-19 00:00:00
1                                  C7         -    2016-12-14 00:00:00
2                                  C7         -    2016-12-09 00:00:00
3                                  C4     3936272  2016-09-23 00:00:00
4                                  C2     8000000  2016-11-17 00:00:00
...                               ...         ...                  ...
84543                              B9      450000  2016-11-28 00:00:00
84544                              B9      550000  2017-04-21 00:00:00
84545                              B2      460000  2017-07-05 00:00:00
84546                              K6    11693337  2016-12-21 00:00:00
84547                              P9       69300  2016-10-27 00:00:00

[84548 rows x 22 columns]

In [40]:
print('---------------------------------------------------------------------------------------------------------------------------')
print('\033[1m Se muestran las últimas tres filas del Dataframe, donde se puede verificar que se eliminó la última fila \033[0m')
print('---------------------------------------------------------------------------------------------------------------------------')

print(df.tail(3))

---------------------------------------------------------------------------------------------------------------------------
 Se muestran las últimas tres filas del Dataframe, donde se puede verificar que se eliminó la última fila
---------------------------------------------------------------------------------------------------------------------------
                                     Unnamed: 0  BOROUGH NEIGHBORHOOD  \
84546                                      8412      5.0      WOODROW
84547                                      8413      5.0      WOODROW
84548  Esta es una línea que no deberías cargar      NaN          NaN

                           BUILDING CLASS CATEGORY TAX CLASS AT PRESENT  \
84546  22 STORE BUILDINGS                                             4
84547  35 INDOOR PUBLIC AND CULTURAL FACILITIES                       4
84548                                          NaN                  NaN

        BLOCK    LOT EASE-MENT BUILDING CLASS AT PRESENT  \
84546  7100.0   28.0                                  K6
84547  7105.0  679.0                                  P9
84548     NaN    NaN       NaN                       NaN

                     ADDRESS  ... RESIDENTIAL UNITS  COMMERCIAL UNITS  \
84546  2730 ARTHUR KILL ROAD  ...               0.0               7.0
84547      155 CLAY PIT ROAD  ...               0.0               1.0
84548                    NaN  ...               NaN               NaN

       TOTAL UNITS  LAND SQUARE FEET  GROSS SQUARE FEET YEAR BUILT  \
84546          7.0            208033              64117     2001.0
84547          1.0             10796               2400     2006.0
84548          NaN               NaN                NaN        NaN

      TAX CLASS AT TIME OF SALE  BUILDING CLASS AT TIME OF SALE  SALE PRICE  \
84546                       4.0                              K6    11693337
84547                       4.0                              P9       69300
84548                       NaN                             NaN         NaN

                 SALE DATE
84546  2016-12-21 00:00:00
84547  2016-10-27 00:00:00
84548                  NaN

[3 rows x 22 columns]