<a href="https://colab.research.google.com/github/IsidroJ/Colab_Archivos_Clase_PADP/blob/main/Pr%C3%A1ctica_16_Errores_en_los_Tipos_de_Datos_IJGH.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Práctica 16: Errores en los Tipos de Datos**

1. Imprime los tipos de datos de cada columna.
2. Asegúrate que las columnas de SALE PRICE(sale_price), LAND SQUARE FEET (land_square_feet), GROSS SQUARE FEET (gross_square_feet) sean de tipo flotante. Escribe qué tipo de dato tienen asignado. Si no son correctos, realiza el cambio.
3. Imprime de nuevo los tipos de datos para demostrar que has arreglado el problema.

In [17]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import seaborn as sns

In [22]:
df = pd.read_csv('/content/drive/MyDrive/1_ClassFiles/8_Clase 29-08-2025/Practicas-Tarea/miaad-nyc-r-s.csv',
                 dtype={0: str}, encoding='utf-8', low_memory=False)

nueva_columna = df.columns.tolist()
nueva_columna[0] = "INDEX MIIAD"
df.columns = nueva_columna
dfNuvNomCol = pd.DataFrame({"Nombre de las columnas": df.columns})
#print(dfNuvNomCol)

df.columns = df.columns.str.lower().str.replace(" ", "_")

dfNomCol = pd.DataFrame({"Nombre de las columnas": df.columns})

In [23]:
print("------------------------------------------------------------------------------")
print("\033[1m Tipos de datos de cada columna \033[0m")
print("------------------------------------------------------------------------------")
print(df.dtypes)

------------------------------------------------------------------------------
 Tipos de datos de cada columna
------------------------------------------------------------------------------
index_miiad                        object
borough                           float64
neighborhood                       object
building_class_category            object
tax_class_at_present               object
block                             float64
lot                               float64
ease-ment                          object
building_class_at_present          object
address                            object
apartment_number                   object
zip_code                          float64
residential_units                 float64
commercial_units                  float64
total_units                       float64
land_square_feet                   object
gross_square_feet                  object
year_built                        float64
tax_class_at_time_of_sale         float64
building_class_at_time_of_sale     object
sale_price                         object
sale_date                          object
dtype: object

In [24]:
print("-----------------------------------------------------------------------------------------------------------")
print("\033[1m Tipos de datos asignados a las columnas sale_price, land_square_fee y gross_square_feet \033[0m")
print("-----------------------------------------------------------------------------------------------------------")

# Imprimir el tipo de dato de cada columna solicitada
print("sale_price:", df["sale_price"].dtype)
print("land_square_feet:", df["land_square_feet"].dtype)
print("gross_square_feet:", df["gross_square_feet"].dtype)

-----------------------------------------------------------------------------------------------------------
 Tipos de datos asignados a las columnas sale_price, land_square_fee y gross_square_feet
-----------------------------------------------------------------------------------------------------------
sale_price: object
land_square_feet: object
gross_square_feet: object

In [21]:
print("--------------------------------------------------------------------------------------------------------------------------")
print("\033[1m Convertir los datos de las columnas (sale_price, land_square_fee y gross_square_feeta float) a flotante \033[0m")
print("--------------------------------------------------------------------------------------------------------------------------")


df["sale_price"] = pd.to_numeric(df["sale_price"], errors="coerce")
df["land_square_feet"] = pd.to_numeric(df["land_square_feet"], errors="coerce")
df["gross_square_feet"] = pd.to_numeric(df["gross_square_feet"], errors="coerce")

print('\n')

print("------------------------------------------------------------------------------")
print("\033[1m Tipos de datos de cada columna \033[0m")
print("------------------------------------------------------------------------------")
print(df.dtypes)

print('\n')

print("------------------------------------------------------------------------------------------------------------------")
print("\033[1m Comprobar el cambio del tipo de dato de: sale_price, land_square_fee y gross_square_feeta float  \033[0m")
print("------------------------------------------------------------------------------------------------------------------")
print(df[["sale_price", "land_square_feet", "gross_square_feet"]].dtypes)

--------------------------------------------------------------------------------------------------------------------------
 Convertir los datos de las columnas (sale_price, land_square_fee y gross_square_feeta float) a flotante
--------------------------------------------------------------------------------------------------------------------------


------------------------------------------------------------------------------
 Tipos de datos de cada columna
------------------------------------------------------------------------------
index_miiad                        object
borough                           float64
neighborhood                       object
building_class_category            object
tax_class_at_present               object
block                             float64
lot                               float64
ease-ment                          object
building_class_at_present          object
address                            object
apartment_number                   object
zip_code                          float64
residential_units                 float64
commercial_units                  float64
total_units                       float64
land_square_feet                  float64
gross_square_feet                 float64
year_built                        float64
tax_class_at_time_of_sale         float64
building_class_at_time_of_sale     object
sale_price                        float64
sale_date                          object
dtype: object


------------------------------------------------------------------------------------------------------------------
 Comprobar el cambio del tipo de dato de: sale_price, land_square_fee y gross_square_feeta float
------------------------------------------------------------------------------------------------------------------
sale_price           float64
land_square_feet     float64
gross_square_feet    float64
dtype: object