<a href="https://colab.research.google.com/github/IsidroJ/Colab_Archivos_Clase_PADP/blob/main/Pr%C3%A1ctica_14_Limpieza_y_Transformaci%C3%B3n_de_Datos_Categ%C3%B3ricos_IJGH.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Ejercicio 01: Errores Tipográficos y Valores Inconsistentes: maritalstatus**

1. Imprime de la columna 'maritalstatus' los valores únicos.
2. Imprime la frecuencia de cada valor único
3. Cambia el valor 'Never-Married' a 'Single'
4. Imprime la frecuencia de cada valor único.

In [109]:
import pandas as pd

#Leer el CSV
df = pd.read_csv('/content/drive/MyDrive/1_ClassFiles/10_Clase 05-09-2025/Tarea/nls97.csv',index_col=0)

print(df)

          gender  birthmonth  birthyear  highestgradecompleted  maritalstatus  \
personid
100061    Female           5       1980                   13.0        Married
100139      Male           9       1983                   12.0        Married
100284      Male          11       1984                    7.0  Never-married
100292      Male           4       1982                    NaN            NaN
100583      Male           1       1980                   13.0        Married
...          ...         ...        ...                    ...            ...
999291    Female           4       1981                   16.0        Married
999406      Male           7       1982                   14.0  Never-married
999543    Female           8       1984                   12.0       Divorced
999698    Female           5       1983                   12.0  Never-married
999963    Female           9       1982                   17.0        Married

          childathome  childnotathome  wageincome        weeklyhrscomputer  \
personid
100061            4.0             0.0     12500.0  10 hours or more a week
100139            2.0             0.0    120000.0      1 to 3 hours a week
100284            1.0             0.0     58000.0                      NaN
100292            NaN             NaN         NaN                      NaN
100583            4.0             0.0     30000.0  Less than 1 hour a week
...               ...             ...         ...                      ...
999291            NaN             NaN     35000.0      7 to 9 hours a week
999406            NaN             NaN    116000.0      4 to 6 hours a week
999543            2.0             0.0         NaN                      NaN
999698            5.0             0.0         NaN      4 to 6 hours a week
999963            2.0             0.0     50000.0      4 to 6 hours a week

                         weeklyhrstv  ...      colenrfeb13      colenroct13  \
personid                              ...
100061         11 to 20 hours a week  ...  1. Not enrolled  1. Not enrolled
100139          3 to 10 hours a week  ...  1. Not enrolled  1. Not enrolled
100284         11 to 20 hours a week  ...  1. Not enrolled  1. Not enrolled
100292                           NaN  ...  1. Not enrolled  1. Not enrolled
100583          3 to 10 hours a week  ...  1. Not enrolled  1. Not enrolled
...                              ...  ...              ...              ...
999291    Less than 2 hours per week  ...  1. Not enrolled  1. Not enrolled
999406          3 to 10 hours a week  ...  1. Not enrolled  1. Not enrolled
999543          3 to 10 hours a week  ...  1. Not enrolled  1. Not enrolled
999698     More than 40 hours a week  ...  1. Not enrolled  1. Not enrolled
999963          3 to 10 hours a week  ...  1. Not enrolled  1. Not enrolled

              colenrfeb14      colenroct14      colenrfeb15      colenroct15  \
personid
100061    1. Not enrolled  1. Not enrolled  1. Not enrolled  1. Not enrolled
100139    1. Not enrolled  1. Not enrolled  1. Not enrolled  1. Not enrolled
100284    1. Not enrolled  1. Not enrolled  1. Not enrolled  1. Not enrolled
100292    1. Not enrolled  1. Not enrolled  1. Not enrolled  1. Not enrolled
100583    1. Not enrolled  1. Not enrolled  1. Not enrolled  1. Not enrolled
...                   ...              ...              ...              ...
999291    1. Not enrolled  1. Not enrolled  1. Not enrolled  1. Not enrolled
999406    1. Not enrolled  1. Not enrolled  1. Not enrolled  1. Not enrolled
999543    1. Not enrolled  1. Not enrolled  1. Not enrolled  1. Not enrolled
999698    1. Not enrolled  1. Not enrolled  1. Not enrolled  1. Not enrolled
999963    1. Not enrolled  1. Not enrolled  1. Not enrolled  1. Not enrolled

              colenrfeb16      colenroct16      colenrfeb17      colenroct17
personid
100061    1. Not enrolled  1. Not enrolled  1. Not enrolled  1. Not enrolled
100139    1. Not enrolled  1. Not enrolled  1. Not enrolled  1. Not enrolled
100284    1. Not enrolled  1. Not enrolled  1. Not enrolled  1. Not enrolled
100292                NaN              NaN              NaN              NaN
100583    1. Not enrolled  1. Not enrolled  1. Not enrolled  1. Not enrolled
...                   ...              ...              ...              ...
999291    1. Not enrolled  1. Not enrolled  1. Not enrolled  1. Not enrolled
999406    1. Not enrolled  1. Not enrolled  1. Not enrolled  1. Not enrolled
999543    1. Not enrolled  1. Not enrolled  1. Not enrolled  1. Not enrolled
999698    1. Not enrolled  1. Not enrolled  1. Not enrolled  1. Not enrolled
999963    1. Not enrolled  1. Not enrolled  1. Not enrolled  1. Not enrolled

[8984 rows x 88 columns]

**1. Imprime de la columna 'maritalstatus' los valores únicos.**

In [134]:
#Imprimimos los valores únicos
print('------------------------------------------------------------------------------')
print('\033[1m Valores únicos de la columna "maritalstatus" \033[0m')
print('------------------------------------------------------------------------------')
print(df['maritalstatus'].unique())

------------------------------------------------------------------------------
 Valores únicos de la columna "maritalstatus"
------------------------------------------------------------------------------
['Married' 'Single' nan 'Divorced' 'Separated' 'Widowed']

**2. Imprime la frecuencia de cada valor único**

In [111]:
#Feecuencia de los valores únicos
print('------------------------------------------------------------------------------')
print('\033[1m Frecuencia de los valores únicos de la columna "maritalstatus" \033[0m')
print('------------------------------------------------------------------------------')
print(df['maritalstatus'].value_counts())

------------------------------------------------------------------------------
 Frecuencia de los valores únicos de la columna "maritalstatus"
------------------------------------------------------------------------------
maritalstatus
Married          3066
Never-married    2766
Divorced          663
Separated         154
Widowed            23
Name: count, dtype: int64

**3. Cambia el valor 'Never-Married' a 'Single'**

In [112]:
#Cambiar el valor 'Never-Married' a 'Single'
#df = pd.read_csv('/content/drive/MyDrive/1_ClassFiles/10_Clase 05-09-2025/Tarea/nls97.csv',index_col=0)

print('------------------------------------------------------------------------------')
print('\033[1m En la columna "maritalstatus" el valor de "Never-Married" se cambio por "Single" \033[0m')
print('------------------------------------------------------------------------------')
df['maritalstatus'] = df['maritalstatus'].replace({'Never-married': 'Single'})

print(df['maritalstatus'].unique())

------------------------------------------------------------------------------
 En la columna "maritalstatus" el valor de "Never-Married" se cambio por "Single"
------------------------------------------------------------------------------
['Married' 'Single' nan 'Divorced' 'Separated' 'Widowed']

**4. Imprime la frecuencia de cada valor único.**

In [113]:
#Feecuencia de los valores únicos después del cambio
print('------------------------------------------------------------------------------')
print('\033[1m Frecuencia de los valores únicos de la columna "maritalstatus" después del cambio \033[0m')
print('------------------------------------------------------------------------------')
print(df['maritalstatus'].value_counts())

------------------------------------------------------------------------------
 Frecuencia de los valores únicos de la columna "maritalstatus" después del cambio
------------------------------------------------------------------------------
maritalstatus
Married      3066
Single       2766
Divorced      663
Separated     154
Widowed        23
Name: count, dtype: int64

# **Ejercicio 02: Errores Tipográficos y Valores Inconsistentes: highestdegree.**

1. Imprime de la columna 'highestdegrees' los valores únicos.
2. Imprime la frecuencia de cada valor único
3. Observa que cada valor categórico empieza con 0. Modifica las categorías para que todas estén en minúsculas y ninguna empiece con un número. Por ejemplo, si dice "2. High School", debería ser 'high school.
4. Los cambios se realizarán en la misma columna 'highestdegrees'.
5. Imprime los nuevos valores únicos.

**1. Imprime de la columna 'highestdegrees' los valores únicos.**

In [114]:
print('------------------------------------------------------------------------------')
print('\033[1m Valores únicos de la columna "highestdegrees" \033[0m')
print('------------------------------------------------------------------------------')
print(df['highestdegree'].unique())

------------------------------------------------------------------------------
 Valores únicos de la columna "highestdegrees"
------------------------------------------------------------------------------
['2. High School' '0. None' '4. Bachelors' '3. Associates' '5. Masters'
 '1. GED' '7. Professional' '6. PhD' nan]

**2. Imprime la frecuencia de cada valor único**

In [115]:
#Feecuencia de los valores únicos
print('------------------------------------------------------------------------------')
print('\033[1m Frecuencia de los valores únicos de la columna "highestdegree" \033[0m')
print('------------------------------------------------------------------------------')
print(df['highestdegree'].value_counts())

------------------------------------------------------------------------------
 Frecuencia de los valores únicos de la columna "highestdegree"
------------------------------------------------------------------------------
highestdegree
2. High School     3667
4. Bachelors       1673
1. GED             1146
0. None             953
3. Associates       737
5. Masters          603
7. Professional     120
6. PhD               54
Name: count, dtype: int64

**3. Observa que cada valor categórico empieza con 0. Modifica las categorías para que todas estén en minúsculas y ninguna empiece con un número. Por ejemplo, si dice "2. High School", debería ser 'high school.**

In [116]:
df['highestdegree'] = df['highestdegree'].str.lower().replace({
    '0. None':'None',
    '1. GED':'GED',
    '2. High School':'High School',
    '3. Associates':'Associates',
    '4. Bachelors':'Bachelors',
    '5. Masters':'Masters',
    '6. PhD':'PhD',
    '7. Professional':'Professional'})

print(df['highestdegree'].unique())

['2. high school' '0. none' '4. bachelors' '3. associates' '5. masters'
 '1. ged' '7. professional' '6. phd' nan]

**4. Los cambios se realizarán en la misma columna 'highestdegrees'.**

In [117]:
print('------------------------------------------------------------------------------')
print('\033[1m Los valores únicos de la columna "highestdegree" se cambiaron a minúscula y sin número  \033[0m')
print('------------------------------------------------------------------------------')
for val in df['highestdegree'].unique():
    print(val)

------------------------------------------------------------------------------
 Los valores únicos de la columna "highestdegree" se cambiaron a minúscula y sin número
------------------------------------------------------------------------------
2. high school
0. none
4. bachelors
3. associates
5. masters
1. ged
7. professional
6. phd
nan

**5. Imprime los nuevos valores únicos.**

In [118]:
#Imprimimos la frecuencia después de la correción
print(df['highestdegree'].value_counts())

highestdegree
2. high school     3667
4. bachelors       1673
1. ged             1146
0. none             953
3. associates       737
5. masters          603
7. professional     120
6. phd               54
Name: count, dtype: int64

# **Ejercicio 03: Alta Cardinalidad - Frecuencias Bajas**

1. De la columna 'maritalstatus' une las categorías Widowed y 'Single' en una categoría más general llamada 'Single/No Partner'. Crea una nueva columna, 'marital_grouped' donde aparezcan las nuevas categorías de maritalstatus.
2. Imprime los valores únicos de la nueva columna 'marital_grouped'.
3. Imprime la frecuencia de los valores únicos de la nueva columna 'marital_grouped'

**1. De la columna 'maritalstatus' une las categorías Widowed y 'Single' en una categoría más general llamada 'Single/No Partner'. Crea una nueva columna, 'marital_grouped' donde aparezcan las nuevas categorías de maritalstatus.**

In [127]:
print('------------------------------------------------------------------------------')
print('\033[1m Valores únicos de la columna "maritalstatus"  \033[0m')
print('------------------------------------------------------------------------------')

print(df['maritalstatus'].unique())

df['marital_grouped'] = df['maritalstatus'].replace({
    'Single': 'Single/No Partner',
    'Widowed': 'Single/No Partner'
})

------------------------------------------------------------------------------
 Valores únicos de la columna "maritalstatus"
------------------------------------------------------------------------------
['Married' 'Single' nan 'Divorced' 'Separated' 'Widowed']

**2. Imprime los valores únicos de la nueva columna 'marital_grouped'.**

In [126]:
print('------------------------------------------------------------------------------')
print('\033[1m Valores únicos en la nueva columna "marital_grouped"  \033[0m')
print('------------------------------------------------------------------------------')

print(df['marital_grouped'].unique())

------------------------------------------------------------------------------
 Valores únicos en la nueva columna "marital_grouped"
------------------------------------------------------------------------------
['Married' 'Single/No Partner' nan 'Divorced' 'Separated']

**3. Imprime la frecuencia de los valores únicos de la nueva columna 'marital_grouped'**

In [128]:
print('------------------------------------------------------------------------------')
print('\033[1m Frecuencia de los valores únicos de la nueva columna "marital_grouped"  \033[0m')
print('------------------------------------------------------------------------------')
print(df['marital_grouped'].value_counts())

------------------------------------------------------------------------------
 Frecuencia de los valores únicos de la nueva columna "marital_grouped"
------------------------------------------------------------------------------
marital_grouped
Married              3066
Single/No Partner    2789
Divorced              663
Separated             154
Name: count, dtype: int64

**Ejercicio 04: Tipos de Datos**

1. Imprime el tipo de datos de la columna gender
2. Imprime la cantidad de bytes de dicha columna
3. Si la columna es de tipo object, modifica a category.
4. En caso de haber realizado la modificación del tipo de datos, imprime la cantidad de bytes que ocupa dicha columna con el nuevo tipo de datos

**1. Imprime el tipo de datos de la columna gender**

In [129]:
print('------------------------------------------------------------------------------')
print('\033[1m Tipo de datos de la columna "gender"  \033[0m')
print('------------------------------------------------------------------------------')
print(df['gender'].dtype)

------------------------------------------------------------------------------
 Tipo de datos de la columna "gender"
------------------------------------------------------------------------------
object

**2. Imprime la cantidad de bytes de dicha columna**

In [132]:
print('------------------------------------------------------------------------------')
print('\033[1m Cantidad de memoria en bytes para la columna "gender"  \033[0m')
print('------------------------------------------------------------------------------')
print(df[['gender']].memory_usage(deep=True))

------------------------------------------------------------------------------
 Cantidad de memoria en bytes para la columna "gender"
------------------------------------------------------------------------------
Index      71872
gender    484922
dtype: int64

**3. Si la columna es de tipo object, modifica a category.**

In [135]:
print('------------------------------------------------------------------------------')
print('\033[1m Cambiar el tipo de dato de la columna "gender" de object a category  \033[0m')
print('------------------------------------------------------------------------------')
df["gender"] = df["gender"].astype("category")
print(df['gender'].dtype)

------------------------------------------------------------------------------
 Cambiar el tipo de dato de la columna "gender" de object a category
------------------------------------------------------------------------------
category

**4. En caso de haber realizado la modificación del tipo de datos, imprime la cantidad de bytes que ocupa dicha columna con el nuevo tipo de datos**

In [136]:
print('------------------------------------------------------------------------------')
print('\033[1m Nueva cantidad de memoria en bytes para la columna "gender"  \033[0m')
print('------------------------------------------------------------------------------')
print(df[['gender']].memory_usage(deep=True))

------------------------------------------------------------------------------
 Nueva cantidad de memoria en bytes para la columna "gender"
------------------------------------------------------------------------------
Index     71872
gender     9200
dtype: int64