<a href="https://colab.research.google.com/github/IsidroJ/Colab_Archivos_Clase_PADP/blob/main/Pr%C3%A1ctica_14_Agregar_una_columna_IJGH.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Práctica 14: Agregar una columna**

1. Imprime los nombres de la columnas del archivo
2. Asegúrate que el nombre de la primera columna debería ser INDEX MIIAD. Si esto no es así, entonces agrega dicho nombre a la columna y vuelve a imprimir los nombres para mostrar el cambio realizado.

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import seaborn as sns

In [32]:
df = pd.read_csv('/content/drive/MyDrive/1_ClassFiles/8_Clase 29-08-2025/Practicas-Tarea/miaad-nyc-r-s.csv')
print('------------------------------------------------------------------------------')
print('\033[1m Datos originales \033[0m')
print('------------------------------------------------------------------------------')
print(df)

------------------------------------------------------------------------------
 Datos originales
------------------------------------------------------------------------------
                                     Unnamed: 0  BOROUGH   NEIGHBORHOOD  \
0                                             4      1.0  ALPHABET CITY
1                                             5      1.0  ALPHABET CITY
2                                             6      1.0  ALPHABET CITY
3                                             7      1.0  ALPHABET CITY
4                                             8      1.0  ALPHABET CITY
...                                         ...      ...            ...
84544                                      8410      5.0        WOODROW
84545                                      8411      5.0        WOODROW
84546                                      8412      5.0        WOODROW
84547                                      8413      5.0        WOODROW
84548  Esta es una línea que no deberías cargar      NaN            NaN

                           BUILDING CLASS CATEGORY TAX CLASS AT PRESENT  \
0      07 RENTALS - WALKUP APARTMENTS                                2A
1      07 RENTALS - WALKUP APARTMENTS                                 2
2      07 RENTALS - WALKUP APARTMENTS                                 2
3      07 RENTALS - WALKUP APARTMENTS                                2B
4      07 RENTALS - WALKUP APARTMENTS                                2A
...                                            ...                  ...
84544  02 TWO FAMILY DWELLINGS                                        1
84545  02 TWO FAMILY DWELLINGS                                        1
84546  22 STORE BUILDINGS                                             4
84547  35 INDOOR PUBLIC AND CULTURAL FACILITIES                       4
84548                                          NaN                  NaN

        BLOCK    LOT EASE-MENT BUILDING CLASS AT PRESENT  \
0       392.0    6.0                                  C2
1       399.0   26.0                                  C7
2       399.0   39.0                                  C7
3       402.0   21.0                                  C4
4       404.0   55.0                                  C2
...       ...    ...       ...                       ...
84544  7349.0   78.0                                  B9
84545  7351.0   60.0                                  B2
84546  7100.0   28.0                                  K6
84547  7105.0  679.0                                  P9
84548     NaN    NaN       NaN                       NaN

                      ADDRESS  ... RESIDENTIAL UNITS  COMMERCIAL UNITS  \
0                153 AVENUE B  ...               5.0               0.0
1       234 EAST 4TH   STREET  ...              28.0               3.0
2       197 EAST 3RD   STREET  ...              16.0               1.0
3         154 EAST 7TH STREET  ...              10.0               0.0
4      301 EAST 10TH   STREET  ...               6.0               0.0
...                       ...  ...               ...               ...
84544        32 PHEASANT LANE  ...               2.0               0.0
84545        49 PITNEY AVENUE  ...               2.0               0.0
84546   2730 ARTHUR KILL ROAD  ...               0.0               7.0
84547       155 CLAY PIT ROAD  ...               0.0               1.0
84548                     NaN  ...               NaN               NaN

       TOTAL UNITS  LAND SQUARE FEET  GROSS SQUARE FEET YEAR BUILT  \
0              5.0              1633               6440     1900.0
1             31.0              4616              18690     1900.0
2             17.0              2212               7803     1900.0
3             10.0              2272               6794     1913.0
4              6.0              2369               4615     1900.0
...            ...               ...                ...        ...
84544          2.0              2498               2377     1998.0
84545          2.0              4000               1496     1925.0
84546          7.0            208033              64117     2001.0
84547          1.0             10796               2400     2006.0
84548          NaN               NaN                NaN        NaN

      TAX CLASS AT TIME OF SALE  BUILDING CLASS AT TIME OF SALE  SALE PRICE  \
0                           2.0                              C2     6625000
1                           2.0                              C7         -
2                           2.0                              C7         -
3                           2.0                              C4     3936272
4                           2.0                              C2     8000000
...                         ...                             ...         ...
84544                       1.0                              B9      550000
84545                       1.0                              B2      460000
84546                       4.0                              K6    11693337
84547                       4.0                              P9       69300
84548                       NaN                             NaN         NaN

                 SALE DATE
0      2017-07-19 00:00:00
1      2016-12-14 00:00:00
2      2016-12-09 00:00:00
3      2016-09-23 00:00:00
4      2016-11-17 00:00:00
...                    ...
84544  2017-04-21 00:00:00
84545  2017-07-05 00:00:00
84546  2016-12-21 00:00:00
84547  2016-10-27 00:00:00
84548                  NaN

[84549 rows x 22 columns]

/tmp/ipython-input-3737159221.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/drive/MyDrive/1_ClassFiles/8_Clase 29-08-2025/Practicas-Tarea/miaad-nyc-r-s.csv')

In [33]:
print('------------------------------------------------------------------------------')
print('\033[1m Nombres de columnas del Dataframe: \033[0m')
print('------------------------------------------------------------------------------')
print(df.columns)

print('\n')

dfNomCol = pd.DataFrame({"Nombre de las columnas": df.columns})

print("------------------------------------------------------------------------------")
print("\033[1m Nombre de las columnas \033[0m")
print("------------------------------------------------------------------------------")
print(dfNomCol)

print('\n')

print('--------------------------------------------------------------------------------------------------------------------------------------------------------------------------')
print('\033[1m Como se puede observar en el Dataframe, la primera columna no tiene nombre, se agregará un nombre a la columna" \033[0m')
print('--------------------------------------------------------------------------------------------------------------------------------------------------------------------------')

------------------------------------------------------------------------------
 Nombres de columnas del Dataframe:
------------------------------------------------------------------------------
Index(['Unnamed: 0', 'BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE'],
      dtype='object')


------------------------------------------------------------------------------
 Nombre de las columnas
------------------------------------------------------------------------------
            Nombre de las columnas
0                       Unnamed: 0
1                          BOROUGH
2                     NEIGHBORHOOD
3          BUILDING CLASS CATEGORY
4             TAX CLASS AT PRESENT
5                            BLOCK
6                              LOT
7                        EASE-MENT
8        BUILDING CLASS AT PRESENT
9                          ADDRESS
10                APARTMENT NUMBER
11                        ZIP CODE
12               RESIDENTIAL UNITS
13                COMMERCIAL UNITS
14                     TOTAL UNITS
15                LAND SQUARE FEET
16               GROSS SQUARE FEET
17                      YEAR BUILT
18       TAX CLASS AT TIME OF SALE
19  BUILDING CLASS AT TIME OF SALE
20                      SALE PRICE
21                       SALE DATE


--------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 Como se puede observar en el Dataframe, la primera columna no tiene nombre, se agregará un nombre a la columna"
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [48]:
df = pd.read_csv('/content/drive/MyDrive/1_ClassFiles/8_Clase 29-08-2025/Practicas-Tarea/miaad-nyc-r-s.csv', dtype={0: str},   # primera columna como texto
    encoding='utf-8', low_memory=False  )

if df.columns[0] != "INDEX MIIAD":
    print('------------------------------------------------------------------------------')
    print('\033[1m La primera columna no se llama "INDEX MIIAD". Se le asignará un nombre \033[0m')
    print('------------------------------------------------------------------------------')

    print('\n')
    print('------------------------------------------------------------------------------')
    print('\033[1m Nombre de las columnas después del cambio: \033[0m')
    print('------------------------------------------------------------------------------')

    # Renombrar la primera columna
    nueva_columna = df.columns.tolist()
    nueva_columna[0] = "INDEX MIIAD"
    df.columns = nueva_columna
    dfNuvNomCol = pd.DataFrame({"Nombre de las columnas": df.columns})

    print(dfNuvNomCol)

------------------------------------------------------------------------------
 La primera columna no se llama "INDEX MIIAD". Se le asignará un nombre
------------------------------------------------------------------------------


------------------------------------------------------------------------------
 Nombre de las columnas después del cambio:
------------------------------------------------------------------------------
            Nombre de las columnas
0                      INDEX MIIAD
1                          BOROUGH
2                     NEIGHBORHOOD
3          BUILDING CLASS CATEGORY
4             TAX CLASS AT PRESENT
5                            BLOCK
6                              LOT
7                        EASE-MENT
8        BUILDING CLASS AT PRESENT
9                          ADDRESS
10                APARTMENT NUMBER
11                        ZIP CODE
12               RESIDENTIAL UNITS
13                COMMERCIAL UNITS
14                     TOTAL UNITS
15                LAND SQUARE FEET
16               GROSS SQUARE FEET
17                      YEAR BUILT
18       TAX CLASS AT TIME OF SALE
19  BUILDING CLASS AT TIME OF SALE
20                      SALE PRICE
21                       SALE DATE