<a href="https://colab.research.google.com/github/IsidroJ/Colab_Archivos_Clase_PADP/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Práctica 15: Normalización de los nombres de la columna.**

1. Normaliza los nombres de ls columnas, los cuales deberán estar en minúsculas. Asimismo, reemplaza los espacios con guion bajo
2. Imprime los nombres de las columnas para demostrar que has realizado la normalización.

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import seaborn as sns

In [15]:
df = pd.read_csv('/content/drive/MyDrive/1_ClassFiles/8_Clase 29-08-2025/Practicas-Tarea/miaad-nyc-r-s.csv',
                 dtype={0: str}, encoding='utf-8', low_memory=False)

print('------------------------------------------------------------------------------')
print('\033[1m Los datos originales del Dataframe son:\033[0m')
print('------------------------------------------------------------------------------')
print(df)

print('\n')

print('------------------------------------------------------------------------------')
print('\033[1m Nombre de las columnas después del cambio: \033[0m')
print('------------------------------------------------------------------------------')

nueva_columna = df.columns.tolist()
nueva_columna[0] = "INDEX MIIAD"
df.columns = nueva_columna
dfNuvNomCol = pd.DataFrame({"Nombre de las columnas": df.columns})
print(dfNuvNomCol)

------------------------------------------------------------------------------
 Los datos originales del Dataframe son:
------------------------------------------------------------------------------
                                     Unnamed: 0  BOROUGH   NEIGHBORHOOD  \
0                                             4      1.0  ALPHABET CITY
1                                             5      1.0  ALPHABET CITY
2                                             6      1.0  ALPHABET CITY
3                                             7      1.0  ALPHABET CITY
4                                             8      1.0  ALPHABET CITY
...                                         ...      ...            ...
84544                                      8410      5.0        WOODROW
84545                                      8411      5.0        WOODROW
84546                                      8412      5.0        WOODROW
84547                                      8413      5.0        WOODROW
84548  Esta es una línea que no deberías cargar      NaN            NaN

                           BUILDING CLASS CATEGORY TAX CLASS AT PRESENT  \
0      07 RENTALS - WALKUP APARTMENTS                                2A
1      07 RENTALS - WALKUP APARTMENTS                                 2
2      07 RENTALS - WALKUP APARTMENTS                                 2
3      07 RENTALS - WALKUP APARTMENTS                                2B
4      07 RENTALS - WALKUP APARTMENTS                                2A
...                                            ...                  ...
84544  02 TWO FAMILY DWELLINGS                                        1
84545  02 TWO FAMILY DWELLINGS                                        1
84546  22 STORE BUILDINGS                                             4
84547  35 INDOOR PUBLIC AND CULTURAL FACILITIES                       4
84548                                          NaN                  NaN

        BLOCK    LOT EASE-MENT BUILDING CLASS AT PRESENT  \
0       392.0    6.0                                  C2
1       399.0   26.0                                  C7
2       399.0   39.0                                  C7
3       402.0   21.0                                  C4
4       404.0   55.0                                  C2
...       ...    ...       ...                       ...
84544  7349.0   78.0                                  B9
84545  7351.0   60.0                                  B2
84546  7100.0   28.0                                  K6
84547  7105.0  679.0                                  P9
84548     NaN    NaN       NaN                       NaN

                      ADDRESS  ... RESIDENTIAL UNITS  COMMERCIAL UNITS  \
0                153 AVENUE B  ...               5.0               0.0
1       234 EAST 4TH   STREET  ...              28.0               3.0
2       197 EAST 3RD   STREET  ...              16.0               1.0
3         154 EAST 7TH STREET  ...              10.0               0.0
4      301 EAST 10TH   STREET  ...               6.0               0.0
...                       ...  ...               ...               ...
84544        32 PHEASANT LANE  ...               2.0               0.0
84545        49 PITNEY AVENUE  ...               2.0               0.0
84546   2730 ARTHUR KILL ROAD  ...               0.0               7.0
84547       155 CLAY PIT ROAD  ...               0.0               1.0
84548                     NaN  ...               NaN               NaN

       TOTAL UNITS  LAND SQUARE FEET  GROSS SQUARE FEET YEAR BUILT  \
0              5.0              1633               6440     1900.0
1             31.0              4616              18690     1900.0
2             17.0              2212               7803     1900.0
3             10.0              2272               6794     1913.0
4              6.0              2369               4615     1900.0
...            ...               ...                ...        ...
84544          2.0              2498               2377     1998.0
84545          2.0              4000               1496     1925.0
84546          7.0            208033              64117     2001.0
84547          1.0             10796               2400     2006.0
84548          NaN               NaN                NaN        NaN

      TAX CLASS AT TIME OF SALE  BUILDING CLASS AT TIME OF SALE  SALE PRICE  \
0                           2.0                              C2     6625000
1                           2.0                              C7         -
2                           2.0                              C7         -
3                           2.0                              C4     3936272
4                           2.0                              C2     8000000
...                         ...                             ...         ...
84544                       1.0                              B9      550000
84545                       1.0                              B2      460000
84546                       4.0                              K6    11693337
84547                       4.0                              P9       69300
84548                       NaN                             NaN         NaN

                 SALE DATE
0      2017-07-19 00:00:00
1      2016-12-14 00:00:00
2      2016-12-09 00:00:00
3      2016-09-23 00:00:00
4      2016-11-17 00:00:00
...                    ...
84544  2017-04-21 00:00:00
84545  2017-07-05 00:00:00
84546  2016-12-21 00:00:00
84547  2016-10-27 00:00:00
84548                  NaN

[84549 rows x 22 columns]


------------------------------------------------------------------------------
 Nombre de las columnas después del cambio:
------------------------------------------------------------------------------
            Nombre de las columnas
0                      INDEX MIIAD
1                          BOROUGH
2                     NEIGHBORHOOD
3          BUILDING CLASS CATEGORY
4             TAX CLASS AT PRESENT
5                            BLOCK
6                              LOT
7                        EASE-MENT
8        BUILDING CLASS AT PRESENT
9                          ADDRESS
10                APARTMENT NUMBER
11                        ZIP CODE
12               RESIDENTIAL UNITS
13                COMMERCIAL UNITS
14                     TOTAL UNITS
15                LAND SQUARE FEET
16               GROSS SQUARE FEET
17                      YEAR BUILT
18       TAX CLASS AT TIME OF SALE
19  BUILDING CLASS AT TIME OF SALE
20                      SALE PRICE
21                       SALE DATE

In [18]:
print("-----------------------------------------------------------------------------------------------")
print("\033[1m Modificación de las columnas: nombre en minúscula reemplazando espacios con guión bajo \033[0m")
print("-----------------------------------------------------------------------------------------------")

df.columns = df.columns.str.lower().str.replace(" ", "_")

dfNomCol = pd.DataFrame({"Nombre de las columnas": df.columns})

print("------------------------------------------------------------------------------")
print("\033[1m Normalización de las columnas \033[0m")
print("------------------------------------------------------------------------------")
print(dfNomCol)

-----------------------------------------------------------------------------------------------
 Modificación de las columnas: nombre en minúscula reemplazando espacios con guión bajo
-----------------------------------------------------------------------------------------------
------------------------------------------------------------------------------
 Normalización de las columnas
------------------------------------------------------------------------------
            Nombre de las columnas
0                      index_miiad
1                          borough
2                     neighborhood
3          building_class_category
4             tax_class_at_present
5                            block
6                              lot
7                        ease-ment
8        building_class_at_present
9                          address
10                apartment_number
11                        zip_code
12               residential_units
13                commercial_units
14                     total_units
15                land_square_feet
16               gross_square_feet
17                      year_built
18       tax_class_at_time_of_sale
19  building_class_at_time_of_sale
20                      sale_price
21                       sale_date